<!-- the info header -->
<section class="info-header">
  <div class="container d-flex">
    <!-- left side list -->
    <ul class="mr-auto list-unstyled d-flex">
      <li class="info-item">
        <a href="tel:{{this.info.phone}}"><i class="fas fa-phone-alt"></i> {{this.info.phone}}</a>
      </li>

      <li class="info-item">
        <a href="mailto:{{this.info.email}}">
          <i class="fas fa-envelope"></i> {{this.info.email}}</a>
      </li>
    </ul>
    <!-- left side list -->

    <!-- right side list -->
    <ul class="ml-auto list-unstyled">
      <li class="dropdown info-item">
        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Currency ({{ this.cache.get("currency") }})
        </button>
        <!-- drop list -->
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li class="dropdown-item" *for="let currency of this.currencies">
            <button data-currency="{{ currency.code }}" (click)="this.setCurrency($el)">
              {{ currency.code }}
            </button>
          </li>
        </ul>
        <!-- drop list -->
      </li>
    </ul>
    <!-- right side list -->
  </div>
</section>

<!-- main header -->
<nav class="navbar navbar-expand-lg main-header">
  <div class="container">
    <!-- logo -->
    <h1 class="header-logo col-lg-2 col-3">
      <a class="navbar-brand" href="/">
        <img src="/public/homes/images/logo.png" alt="Homes logo" title="Home" />
      </a>
    </h1>

    <!-- toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars navbar-toggler-icon"></i>
    </button>

    <!-- nav-list -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/?sale_type=sale">sale</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/?sale_type=rent">rent</a>
        </li>

        <li class="nav-item">
          <a data-toggle="modal" data-target="#contactModal" class="nav-link">
            contact
          </a>
        </li>
      </ul>

      <!-- advertisement application -->
      <button class="header-adv btn-action ml-auto" data-target="#advertiseModal" data-toggle="modal">advertise
        property</button>
    </div>
  </div>
</nav>

<!-- modals (popups) -->
<!-- contact form dialog -->
<div class="contact modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Contact us</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <form action="https://homes-egypt.com/contact-us/send">
          <div class="form-group">
            <form-input type="text" required class="form-control" placeholder="Your name"></form-input>
          </div>
          <div class="form-group">
            <form-input type="email" required class="form-control" placeholder="Your email address"></form-input>
            <small class="text-uppercase text-dark">We Will Not Share Email with any one</small>
          </div>
          <div class="form-group">
            <form-input type="number" required class="form-control" placeholder="Your phone number"></form-input>
          </div>
          <div class="form-group">
            <form-input type="text" required class="form-control" placeholder="Subject"></form-input>
          </div>
          <div class="form-group">
            <form-input type="textarea" required class="form-control" placeholder="Your message" rows="4"></form-input>
          </div>
          <form-input type="button" class="modal-btn btn-action mr-auto">Send</form-input>
          </form-input>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- advertise form dialog -->
<div class="advertise modal fade" id="advertiseModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="advertiseModalLabel">Advertise your property</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <section class="forms-panel d-flex justify-content-around flex-wrap">
          <button class="user-info info-button col-md-4 col-lg-5" data-id="step-1" *as="stepOneBtn"
            (click)="this.step = 'step-1'; this.watchStep()">
            <span> 1 </span>
            user info
          </button>
          <button class="property-info info-button col-md-4 col-lg-5" data-id="step-2" *as="stepTwoBtn"
            (click)="this.step = 'step-2'; this.watchStep()">
            <span> 2 </span>
            property
          </button>
        </section>

        <section class="property-form">
          <form action="https://homes-egypt.com/add-property/submit">
            <div *if="this.step == 'step-1'" id="step-1" class="d-flex flex-wrap justify-content-between">
              <div class="form-group col-md-6">
                <form-input type="text" label="Full Name" class="form-control" name="username"
                  placeholder="e.g: John Doe">
                </form-input>
              </div>

              <div class="form-group col-md-6">
                <form-input type="email" label="Email Address" class="form-control" name="email"
                  placeholder="e.g: test@test.com">
                </form-input>
              </div>

              <div class="form-group col-md-6">
                <form-input label="Phone Number" type="number" name="phone" class="form-control"></form-input>
              </div>

              <div class="form-group col-md-6">
                <form-input type="text" label="Address" class="form-control" name="address"
                  autocomplete="address">
                </form-input>
              </div>

              <div class="form-group col-md-6">
                <form-input type="text" class="form-control border-bottom" name="city" placeholder="Your City">
                </form-input>
              </div>

              <div class="form-group col-md-6">
                <form-input type="text" class="form-control  border-bottom" name="district"
                  placeholder="Your District">
                </form-input>
              </div>

              <button class="adv-action-btn next" (click)="this.step = 'step-2'; this.watchStep()"> Next </button>
            </div>
            <div *if="this.step == 'step-2'" id="step-2" class="d-flex flex-wrap">
              <div class="form-group col-md-6">
                <form-input type="text" class="form-control" name="type" placeholder="Choose type"
                  list="#types">
                </form-input>
                <datalist id="types">
                  <option *for="let type of this.response.propertyTypes" value="{{type.value}}"></option>
                </datalist>
              </div>

              <div class="form-group col-md-3">
                <form-input type="text" class="form-control" name="type" placeholder="Beds" list="#beds">
                </form-input>
                <datalist id="beds">
                  <option *for="let i = 0; i <= 10; i++" value="{{ i }}"> </option>
                </datalist>
              </div>

              <div class="form-group col-md-3">
                <form-input type="text" class="form-control" name="type" placeholder="Baths" list="#baths">
                </form-input>
                <datalist id="baths">
                  <option *for="let i = 0; i <= 10; i++" value="{{ i }}"> </option>
                </datalist>
              </div>

              <div class="input-group col-md-12">
                <label for="area" class="d-block"> Property area </label>
                <input type="text" name="area" id="area" class="form-control"
                  aria-describedby="basic-addon2" placeholder="0">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">Meter</span>
                </div>
              </div>

              <div class="form-group image-input col-md-12 d-flex flex-wrap">

                <flk-image-input *for="let image of this.imageInputs" name="images[]" *as="imageInput"></flk-image-input>

                <button class="btn-icon" (click)="this.imageInputs.push('')" title="Add more image"> <i class="fa fa-plus"></i> </button>
              </div>

              <button type="button" class="adv-action-btn prev" (click)="this.step = 'step-1'; this.watchStep()">
                Previous </button>
              <button type="submit" class="adv-action-btn finish"> Finish </button>

            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>