<footer>
  <section class="main-footer d-flex justify-content-around p-6">
    <article class="main-footer-column">
      <h2 class="footer-column-heading">Quick Links</h2>

      <ul class="column-links list-unstyled text-left">
        <li class="column-link-item">
          <a href="/">
            Home
          </a>
        </li>
        <li class="column-link-item">
          <a href="/">
            Renting
          </a>
        </li>
        <li class="column-link-item">
          <a href="/">
            Commercial
          </a>
        </li>
        <li class="column-link-item">
          <a href="/">
            Buying
          </a>
        </li>
      </ul>
    </article>

    <article class="main-footer-column">
      <h2 class="footer-column-heading">Popular Locations</h2>

      <ul class="column-links list-unstyled text-left">
        <li class="column-link-item">
          <a href="/">
            Properties for rent in Zamalek
          </a>
        </li>

        <li class="column-link-item">
          <a href="/">
            Properties for rent in Dokki
          </a>
        </li>
      </ul>
    </article>

    <article class="main-footer-column social-contact text-left">
      <p class="site-phone">
        <a href="tel:01288744799"
          ><i class="fas fa-phone-alt"></i> 01288744799</a
        >
      </p>
      <p class="site-mail">
        <a href="mailto:Info@Homes-Egypt.Com">
          <i class="fas fa-envelope"></i> Info@Homes-Egypt.Com</a
        >
      </p>
      <p class="site-facebook">
        <a href="https://facebook.com"
          ><i class="fas fa-facebook"></i> Homes Egypt</a
        >
      </p>
    </article>
  </section>

  <section class="copy d-flex justify-content-center align-items-center p-1">
      <p class="mb-0"> &copy; 2020 <a href="/"> CI </a> - All rights reserved </p>
  </section>
</footer>
