@import "variables";

footer {
  .main-footer {
    background-color: #10304b;
    color: #fff;
    .footer-column-heading {
      font-weight: 300;
    }

    .main-footer-column {
      overflow: hidden;
    }

    .column-links {
      padding-left: 0.5rem;
      .column-link-item {
        margin-bottom: 3px;
        font-size: 1rem;
        font-weight: 300;
      }
    }

    .social-contact {
      font-size: 1.5rem;

      i {
        margin-right: 0.7rem;
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .copy {
    background-color: #112531;
    color: #fff;
  }
}
