<section class="contact-info">
    <h3>Contact Us</h3>
    <p><span>Email:</span> {{ this.info.email }}</p>
    <p><span>Phone:</span> {{this.info.phone }}</p>
</section>

<section class="contact-request">
    <h3>Send Request</h3>
    <h4 *if="this.isSent" class="text-success bold text-center m-y-1">Your request has been sent successfully!</h4>
    <form *else (submit)="this.send($el)" class="d-flex flex-wrap">
        <input type="hidden" name="id" [value]="this.property.id">
        <div class="form-group col-6">
            <form-input type="text" name="name" required class="form-control" placeholder="Your name">
            </form-input>
        </div>
        <div class="form-group col-6">
            <form-input type="number" name="phone" required class="form-control" placeholder="Your phone number"></form-input>
        </div>
        <div class="form-group col-12">
            <form-input type="email" name="email" class="form-control" placeholder="Your email address"></form-input>
            <!-- <small class="text-uppercase text-dark">We Will Not Share Email with any one</small> -->
        </div>

        <div class="form-group col-12">
            <form-input type="textarea" required="true" name="message" class="form-control" placeholder="Your message" rows="4">
            </form-input>
        </div>
        <button [disabled]="this.isLoading" class="btn btn-action active">Request</button>
    </form>
</section>