<layout>
    <searchForm (search)="this.properties = e"></searchForm>

    <section class="properties p-4">
        <h2 class="properties-heading text-center">Properties</h2>
        <div
        *if="this.loading"
        class="loader-container d-flex justify-content-center align-items-center"
      >
        <loading></loading>
      </div>
        <div *else class="container">
            <!-- grid of properties -->
            <div *if="! Is.empty(this.properties)" class="properties-grid d-flex flex-wrap justify-content-between">
                <div *for="let property of this.propertiesToShow" class="property-item col-lg-4 col-md-4 col-sm-6 col-12">
                    <property-card [property]="property"></property-card>
                </div>

                <div class="d-block text-center" style="width: 100%;">
                    <button class="btn-action view-properties-btn" (click)="this.viewMore($el)"> View More </button>
                </div>
            </div>
            <div *else class="no-response d-flex justify-content-center align-items-center">
                <p style="font-size: 2rem; color: #0f5b97;">No properties</p>
            </div>
        </div>
    </section>
</layout>