<layout>
    <searchForm (search)="this.properties = e"></searchForm>

    <section class="properties">
        <h2 class="properties-heading text-center">Properties</h2>
      
        <loading *if="this.loading"></loading>

        <div *if="! Is.empty(this.properties)" class="container">
            <!-- grid of properties -->
            <div *if="! Is.empty(this.properties)" class="properties-grid d-flex flex-wrap">
                <div *for="let property of this.properties" class="property-item col-lg-4 col-md-4 col-sm-6 col-12">
                    <property-card [property]="property"></property-card>
                </div>

                <div *if="! this.lastPage" class="w-100 d-block text-center">
                    <button class="btn-action view-properties-btn" (click)="this.viewMore()"> View More </button>
                </div>
            </div>
        </div>
        <div *elseif="! this.loading && Is.empty(this.properties)" class="no-response d-flex justify-content-center align-items-center">
            <h2 class="colored bold">No properties</h2>
        </div>
    </section>
</layout>