.properties {
    .properties-heading {
        color: $mainColor;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 2rem;
        position: relative;
        display: inline-block;

        @include responsive((
            1024: (
                padding-top: 2rem,
                margin-bottom: 1rem,
                font-size: 2rem,
            )
        ), max);

        &.properties-heading {
            @include responsive((
                1024: (
                    font-size: 1.4rem,
                )
            ), max);    

            &::before,
            &::after {
                @include responsive((
                    1024: (
                        top: 75%,
                        width: 3rem,
                    )
                ), max);        
            }
        }
        

        &:before {
            content: '';
            width: 20rem;
            height: 4px;
            background: $mainColor;
            position: absolute;
            right: 105%;
            top: 50%;
        }

        &:after {
            content: '';
            width: 20rem;
            height: 4px;
            background: $mainColor;
            position: absolute;
            left: 105%;
            top: 50%;
        }
    }

    .property-item {
        margin-bottom: 4rem; 
        padding: 0;
        margin: 1rem 0;
    }

    .view-properties-btn {
        padding: 0.5rem 1rem;
        color: $mainColor;
        font-size: 1.5rem;
        transition: all 0.2s;
        &:hover {
            color: #fff;
            background-color: $mainColor;
        }
    }

    @include responsive((
        1024: (
            padding: 4rem,
        )
    ));
}