<layout>
    <loading *if="this.loading"></loading>
    <section *if="this.property" class="single-property">
        <div class="containers">
            <section class="single-property-preface flex-wrap d-flex p-4">
                <section class="single-property-preface-left col-lg-8 col-sm-12">
                    <section class="preface-info d-flex justify-content-between">
                        <h1 class="property-name" [html]="this.property.name"></h1>
                        <p class="property-id" >#ID: {{ this.property.id }}</p>
                    </section>

                    <section *if="! Is.empty(this.property.images)" class="property-img">
                        <flk-slider height="36rem" [slides]="this.property.images" alt="{{this.property.name}}'s previews"
                            title="{{this.property.name}}">
                        </flk-slider>
                    </section>
                </section>

                <section class="single-property-preface-right col-lg-4 col-sm-12">
                    <section class="contact-section">
                        <property-request-form [property]="this.property"></property-request-form>
                    </section>
                </section>
            </section>

            <section class="single-property-middle d-flex flex-wrap">
                <div class="single-property-middle-left d-flex flex-wrap col-lg-8 col-sm-12 p-3">
                    <ul class="col-sm-6 property-data-p1 list-unstyled">
                        <li class="property-data-item">
                            <p *for="let price of this.property.prices">
                                <span class="prop-key"> {{price.type}} Price </span>
                                {{this.ifCurrencyInDollar ? Number(price.priceInDollar).toLocaleString() : Number(price.price).toLocaleString()}}
                                {{this.cache.get("currency")}}
                            </p>
                        </li>
                        <li class="property-data-item">
                            <span class="prop-key"> Address </span> {{this.property.region}} - {{this.property.city}}
                        </li>
                        <li class="property-data-item">
                            <span class="prop-key"> Type </span> {{this.property.type}}
                        </li>
                        <li class="property-data-item">
                            <span class="prop-key"> Id </span> {{this.property.id}}
                        </li>
                    </ul>

                    <ul class="col-sm-6 property-data-p2 list-unstyled">
                        <li *for="let room of this.property.rooms" class="property-data-item">
                            <span class="prop-key"> {{room.name}} </span> {{room.value}}
                        </li>
                        <li *if="! Is.empty(this.property.additional_rooms)" class="property-data-item">
                            <span class="prop-key"> Other Rooms </span> {{this.property.additional_rooms}}
                        </li>
                        <li class="property-data-item">
                            <span class="prop-key"> City </span> {{this.property.city}}
                        </li>
                    </ul>

                    <section class="property-desc">
                        <h3 (click)="this.showDesc = !this.showDesc">
                            About the property
                        </h3>
                        <p></p>
                        <p>
                            {{ this.property.description }}
                        </p>
                    </section>
                </div>

                <div class="single-property-middle-right col-lg-4 col-sm-12">
                    <!-- <div id="map"></div> -->
                </div>
            </section>

            <section *if="! Is.empty(this.property.similar_properties)" class="single-property-footer text-center p-6">
                <h2 class="bold text-transform-uppercase"> Similar Properties </h2>                
                <div class="properties-container d-flex justify-content-center align-items-center flex-wrap">
                    <article 
                        *for="let smProperty of this.property.similar_properties.slice(0, 3)"
                        class="property-item col-lg-4 col-md-6 col-sm-12 mb-3">
                        <property-card [property]="smProperty"></property-card>
                    </article>
                </div>
            </section>
        </div>

    </section>

    <section *if="!this.property" class="d-flex justify-content-center align-items-center">
        <p class="not-found">Not Found Property  !</p>
    </section>

    <section *if="this.property" class="property-actions d-md-none d-flex text-center btn-group">
        <a *if="this.property.whatsapp_mobile" href="{{('whatsapp://send?phone=+' + this.property.whatsapp_mobile + '&text=I would like to get more information about this property you posted in homes-egypt.com, https://homes-egypt/properties/' + this.property.old_id+ '/' + this.property.name.split(' ').join('-'))}}"
            class="bg-success w-100 text-white rounded-left"> <i class="fab fa-whatsapp"></i> Whatsapp </a>
        <a *if="this.property.whatsapp_mobile" href="tel:{{this.property.whatsapp_mobile}}"
            class="bg-primary w-100 text-white rounded-right"> <i class="fa fa-phone-alt"></i> Call</a>
    </section>
</layout>