// import your app files instead of writing code directly here!

// special variable
// $direction: rtl|ltr >> the current direction of the application
// $right: `right` on ltr and `left` or rtl
// $left: `left` on ltr and `right` or rtl

@import "variables";
@import "modal";
@import 'dropdown-list';

@if $direction == ltr {
  body {
    font-size: $mainFontSize;
    font-family: $fontFamily;
  }
}
@else {
  //
}

body {
  @include responsive((
    1024: (
      overflow: hidden,
    )
  ), max);
}

.btn-action {
  color: $mainColor;
  border: 1px solid $mainColor;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;

  &.active,
  &:hover {
    background: $mainColor !important;
    color: #FFF !important;
  }
}
button {
  &:focus {
    outline: none !important;
  }
}


.colored {
  color: $mainColor;
}

.bg-primary {
  background-color: $mainColor !important;
}