// import your app files instead of writing code directly here!

// special variable
// $direction: rtl|ltr >> the current direction of the application
// $right: `right` on ltr and `left` or rtl
// $left: `left` on ltr and `right` or rtl

@import "variables";
@import 'dropdown-list';

@if $direction == ltr {
  body {
    font-size: $mainFontSize;
    font-family: $fontFamily;

    .btn-action {
      color: $mainColor;
      border: 1px solid $mainColor;
      border-radius: 20px;
      text-transform: uppercase;
    }
  }
} @else {
  //
}
