<div class="property-item-container">
    <header class="property-header">
        <a href="/properties/{{ this.property.old_id }}/{{
            this.property.name.split(' ').join('-')
                      }}">
            <section class="property-img">
                <flk-slider title="{{this.property.name}}'s images" [slides]="this.property.images"></flk-slider>
            </section>
        </a>

        <section class="property-metadata">
            <p class="property-location absolute-position">
                {{ this.property.region }}
            </p>

            <p class="property-type absolute-position">
                {{ this.property.saleType }}
            </p>

            <p class="property-price absolute-position">
                {{ this.cache.get("currency") == "USD" ? Number(this.property.priceInDollar).toLocaleString() : Number(this.property.price).toLocaleString()}}
                {{this.cache.get("currency")}}
            </p>
        </section>
    </header>

    <main class="property-body">
        <a href="/properties/{{ this.property.old_id }}/{{
            this.property.name.split(' ').join('-')
                      }}">
            <h3 class="property-name">{{ this.property.name }}</h3>
        </a>

        <div class="property-numbers d-flex justify-content-between">
            <div class="property-rooms">
                <span class="property-beds" title="Bed rooms">
                    <i class="fa fa-bed"></i> {{ this.property.bed_rooms }}
                </span>
                <span class="property-bath" title="Bath rooms">
                    <i class="fa fa-bath"></i> {{ this.property.bath_rooms }}
                </span>
            </div>

            <p class="property-id">#{{ this.property.id }}</p>
        </div>
    </main>
</div>