<section class="properties p-4">
    <h2 class="properties-heading text-center">Properties</h2>

    <div *if="this.loading" class="d-flex justify-content-center align-items-center">
        <loading></loading>
    </div>

    <!-- grid of properties -->
    <div *if="!this.loading && this.properties && this.properties.length > 0"
        class="properties-grid d-flex flex-wrap justify-content-between">
        <article *for="let property of this.propertiesToShow" class="property-item col-lg-4 col-sm-12">
            <property-card [property]="property"></property-card>
        </article>

        <div class="d-block text-center" style="width: 100%;">
            <button class="btn-action view-properties-btn" (click)="this.viewMore($el)"> View More </button>
        </div>
    </div>
    <div *elseif="!this.loading && this.properties.length == 0"
        class="no-response d-flex justify-content-center align-items-center">
        <p style="font-size: 2rem; color: #0f5b97;">No properties</p>
    </div>
</section>