<div class="property-item-container">
    <header class="property-header">    
        <section class="property-img">
            <flk-slider height="300px" [bullets]="false" alt="{{this.property.name}}'s images" [slides]="this.property.imagesList"></flk-slider>
        </section>

        <section class="property-metadata">
            <p class="property-location absolute-position">
                {{ this.property.region }}
            </p>

            <p class="property-type absolute-position">
                {{ this.property.saleType }}
            </p>

            <p class="property-price absolute-position">
                {{ this.cache.get("currency") == "USD" ? Number(this.property.priceInDollar).toLocaleString() : Number(this.property.price).toLocaleString()}}
                {{this.cache.get("currency")}}
            </p>
        </section>
    </header>

    <main class="property-body">
        <a href="/properties/{{ this.property.old_id }}/{{
            this.property.name.split(' ').join('-')
                      }}">
            <h3 class="property-name">{{ this.property.name }}</h3>
        </a>

        <div class="property-numbers d-flex justify-content-between">
            <div class="property-rooms">
                <span class="property-beds" title="Bed rooms">
                    <i class="fa fa-bed"></i> {{ this.property.bed_rooms }}
                </span>
                <span class="property-bath" title="Bath rooms">
                    <i class="fa fa-bath"></i> {{ this.property.bath_rooms }}
                </span>
            </div>

            <p class="property-id">#{{ this.property.id }}</p>
        </div>
    </main>
    <footer class="property-footer d-md-none d-flex text-center btn-group">
        <a href="{{this.property.whatsapp_mobile ? ('whatsapp://send?phone=+' + this.property.whatsapp_mobile + '&text=I would like to get more information about this property you posted in homes-egypt.com, https://homes-egypt/properties/' + this.property.old_id+ '/' + this.property.name.split(' ').join('-')) : ''}}"
            class="bg-success w-100 text-white rounded-left"> <i class="fab fa-whatsapp"></i> Whatsapp </a>
        <a href="tel:{{this.property.whatsapp_mobile}}" class="bg-primary w-100 text-white rounded-right"> <i
                class="fa fa-phone-alt"></i> Call</a>
    </footer>
</div>