<property-card-mobile *if="window.isMobile"></property-card-mobile>
<div *else class="property-item-container">
    <header class="property-header">
        <section class="property-img">
            <flk-swiper [bullets]="false" alt="{{this.property.name}}'s images" [images]="this.property.imagesList">
            </flk-swiper>
        </section>

        <section class="property-metadata">
            <p class="property-location absolute-position">
                {{ this.property.region }}
            </p>

            <p class="property-type absolute-position text-uppercase">
                {{ this.property.saleType }}
            </p>

            <p class="property-img-numbers absolute-position" tooltip title="Number of images">
                <fa icon="camera"></fa>
                {{ this.property.totalImages }}
            </p>
            <p class="property-price absolute-position">
                {{ currencyConverter(this.property) }}
                {{ window.currentCurrency.code }}
            </p>
        </section>
    </header>

    <section class="property-body">
        <a class="d-block" [href]="propertyUrl(this.property)">
            <h3 class="property-name">
                {{ this.property.name }}

                <div *if="this.importantProperty" class="featred-property">
                    <fa icon="star"></fa>
                    Featured
                </div>
            </h3>
        </a>

        <div class="property-numbers d-sm-flex justify-content-between">
            <div class="detail" tooltip title="Bed rooms">
                <fa icon="bed"></fa>
                <strong [html]="this.property.bed_rooms"></strong>
            </div>
            <div class="detail" tooltip title="Bath rooms">
                <fa icon="bath"></fa>
                <strong [html]="this.property.bath_rooms"></strong>
            </div>
            <div *if="! Is.empty(this.property.area)" class="detail" tooltip title="Property Area">
                <fa icon="warehouse"></fa>
                <strong [html]="Number(this.property.area)"></strong>
            </div>
            <div class="detail" tooltip title="Property Id">
                <fa icon="hashtag"></fa>
                <strong [html]="this.property.old_id"></strong>
            </div>
        </div>
    </section>
</div>