<div class="property-card">
    <section class="images">
        <!-- <flk-slider [bullets]="false" 
                    alt="{{this.property.name}}'s images" 
                    [slides]="this.property.imagesList">
        </flk-slider> -->
        <flk-swiper [images]="this.property.imagesList" [alt]="this.property.name"></flk-swiper>
        
        <div class="sticky-meta property-location">
            {{ this.property.region }}
        </div>

        <div class="sticky-meta property-type">
            {{ this.property.saleType }}
        </div>

    </section>
    <section class="details">
        <div class="property-price">
            {{ currencyConverter(this.property) }}
        </div>
        
        <fa *if="this.importantProperty" icon="star featred-property"></fa>
           
        <a class="property-name" [href]="propertyUrl(this.property)" [html]="this.property.name.readMoreChars(60)"></a>

        <div class="meta">
            <div class="detail" tooltip title="Bed rooms">
                <fa icon="bed"></fa>
                <strong [html]="this.property.bed_rooms"></strong>
            </div>
            <div class="detail" tooltip title="Bath rooms">
                <fa icon="bath"></fa>
                <strong [html]="this.property.bath_rooms"></strong>
            </div>
            <div *if="! Is.empty(this.property.area)" class="detail" tooltip title="Property Area">
                <fa icon="warehouse"></fa>
                <strong [html]="Number(this.property.area)"></strong>
            </div>
            <div class="detail" tooltip title="Property Id">
                <fa icon="hashtag"></fa>
                <strong [html]="this.property.old_id"></strong>
            </div>
        </div>
        <div class="property-footer d-flex btn-group">
            <a             
            [href]="whatsappMessage(this.property)"
                class="green-text btn whatsapp-btn py-1">
                <fa fab="whatsapp"></fa>
                <span>Whatsapp</span>
            </a>
            <a href="tel:{{this.phoneNumber}}" class="btn call-btn py-1">
                <fa icon="phone-alt"></fa>
                <span>Call</span>
            </a>
        </div>
    </section>
    <div class="clearfix"></div>
</div>