<section class="properties p-4">
  <h2 class="properties-heading">Properties</h2>

  <div class="container">
    <!-- grid of properties -->
    <div class="properties-grid d-flex flex-wrap justify-content-around">
      <article class="property-item col-lg-4 col-sm-6 col-xs-12">
        <header class="property-header">
          <figure class="property-img">
                <a href="/">
                    <img src="/public/homes/images/logo.png" alt="" />
                  </a>
          </figure>

          <section class="property-metadata">
              <p class="property-location absolute-position"> Cairo </p>

              <p class="property-type absolute-position"> Rent </p>

              <p class="property-price absolute-position"> 1,800 USD </p>
          </section>
        </header>

        <main class="property-body">
            <a href="/">
                <h3 class="property-name"> Furnished Office For Rent In Garden City </h3>
            </a>

            <div class="property-numbers d-flex justify-content-between">
                <div class="property-rooms">
                    <span class="property-beds"> 2 </span>
                    <span class="property-bath"> 2 </span>
                </div>

                <p class="property-id"> #2345 </p>
            </div>
        </main>
      </article>

      <article class="property-item col-lg-4 col-sm-6 col-xs-12">
            <header class="property-header">
              <figure class="property-img">
                    <a href="/">
                        <img src="/public/homes/images/logo.png" alt="" />
                      </a>
              </figure>
    
              <section class="property-metadata">
                  <p class="property-location absolute-position"> Cairo </p>
    
                  <p class="property-type absolute-position"> Rent </p>
    
                  <p class="property-price absolute-position"> 1,800 USD </p>
              </section>
            </header>
    
            <main class="property-body">
                    <a href="/">
                        <h3 class="property-name"> Furnished Office For Rent In Garden City </h3>
                    </a>
    
                <div class="property-numbers d-flex justify-content-between">
                    <div class="property-rooms">
                        <span class="property-beds"> 2 </span>
                        <span class="property-bath"> 2 </span>
                    </div>
    
                    <p class="property-id"> #2345 </p>
                </div>
            </main>
          </article>

          <article class="property-item col-lg-4 col-sm-6 col-xs-12">
                <header class="property-header">
                  <figure class="property-img">
                        <a href="/">
                            <img src="/public/homes/images/logo.png" alt="" />
                          </a>
                  </figure>
        
                  <section class="property-metadata">
                      <p class="property-location absolute-position"> Cairo </p>
        
                      <p class="property-type absolute-position"> Rent </p>
        
                      <p class="property-price absolute-position"> 1,800 USD </p>
                  </section>
                </header>
        
                <main class="property-body">
                        <a href="/">
                            <h3 class="property-name"> Furnished Office For Rent In Garden City </h3>
                        </a>
        
                    <div class="property-numbers d-flex justify-content-between">
                        <div class="property-rooms">
                            <span class="property-beds"> 2 </span>
                            <span class="property-bath"> 2 </span>
                        </div>
        
                        <p class="property-id"> #2345 </p>
                    </div>
                </main>
              </article>

              <article class="property-item col-lg-4 col-sm-6 col-xs-12">
                    <header class="property-header">
                      <figure class="property-img">
                          <a href="/">
                            <img src="/public/homes/images/logo.png" alt="" />
                          </a>
                      </figure>
            
                      <section class="property-metadata">
                          <p class="property-location absolute-position"> Cairo </p>
            
                          <p class="property-type absolute-position"> Rent </p>
            
                          <p class="property-price absolute-position"> 1,800 USD </p>
                      </section>
                    </header>
            
                    <main class="property-body">
                            <a href="/">
                                <h3 class="property-name"> Furnished Office For Rent In Garden City </h3>
                            </a>
            
                        <div class="property-numbers d-flex justify-content-between">
                            <div class="property-rooms">
                                <span class="property-beds"> 2 </span>
                                <span class="property-bath"> 2 </span>
                            </div>
            
                            <p class="property-id"> #2345 </p>
                        </div>
                    </main>
                  </article>

                  <article class="property-item col-lg-4 col-sm-6 col-xs-12">
                        <header class="property-header">
                          <figure class="property-img">
                                <a href="/">
                                    <img src="/public/homes/images/logo.png" alt="" />
                                </a>
                          </figure>
                
                          <section class="property-metadata">
                              <p class="property-location absolute-position"> Cairo </p>
                
                              <p class="property-type absolute-position"> Rent </p>
                
                              <p class="property-price absolute-position"> 1,800 USD </p>
                          </section>
                        </header>
                
                        <main class="property-body">
                                <a href="/">
                                    <h3 class="property-name"> Furnished Office For Rent In Garden City </h3>
                                </a>
                
                            <div class="property-numbers d-flex justify-content-between">
                                <div class="property-rooms">
                                    <span class="property-beds"> 2 </span>
                                    <span class="property-bath"> 2 </span>
                                </div>
                
                                <p class="property-id"> #2345 </p>
                            </div>
                        </main>
                      </article>

                      <article class="property-item col-lg-4 col-sm-6 col-xs-12">
                            <header class="property-header">
                              <figure class="property-img">
                                    <a href="/">
                                        <img src="/public/homes/images/logo.png" alt="" />
                                      </a>
                              </figure>
                    
                              <section class="property-metadata">
                                  <p class="property-location absolute-position"> Cairo </p>
                    
                                  <p class="property-type absolute-position"> Rent </p>
                    
                                  <p class="property-price absolute-position"> 1,800 USD </p>
                              </section>
                            </header>
                    
                            <main class="property-body">
                                    <a href="/">
                                        <h3 class="property-name"> Furnished Office For Rent In Garden City </h3>
                                    </a>
                    
                                <div class="property-numbers d-flex justify-content-between">
                                    <div class="property-rooms">
                                        <span class="property-beds"> 2 </span>
                                        <span class="property-bath"> 2 </span>
                                    </div>
                    
                                    <p class="property-id"> #2345 </p>
                                </div>
                            </main>
                          </article>
                    

    </div>
  </div>

  <button class="btn-action view-properties-btn"> View All </button>
</section>
