<section class="properties p-4">
  <h2 class="properties-heading text-center">Properties</h2>

  <div
    *if="this.loading"
    class="d-flex justify-content-center align-items-center"
  >
    <loading></loading>
  </div>

  <!-- grid of properties -->
  <div
    *if="!this.loading && this.properties && this.properties.length > 0"
    class="properties-grid d-flex flex-wrap"
  >
    <article
      *for="let property of this.properties"
      class="property-item col-lg-3 col-sm-12"
    >
      <header class="property-header">
        <a
          href="/properties/{{ property.old_id }}/{{
            property.name.split(' ').join('-')
          }}"
        >
          <section class="property-img">
            <flk-slider [slides]="[property.images]"></flk-slider>
          </section>
        </a>

        <section class="property-metadata">
          <p class="property-location absolute-position">
            {{ property.region }}
          </p>

          <p class="property-type absolute-position">
            {{ property.saleType }}
          </p>

          <p class="property-price absolute-position">
            {{ property.price.toLocaleString() }} {{ property.currency }}
          </p>
        </section>
      </header>

      <main class="property-body">
        <a
          href="/properties/{{ property.old_id }}/{{
            property.name.split(' ').join('-')
          }}"
        >
          <h3 class="property-name">{{ property.name }}</h3>
        </a>

        <div class="property-numbers d-flex justify-content-between">
          <div class="property-rooms">
            <span class="property-beds" title="Bed rooms">
              <i class="fa fa-bed"></i> {{ property.bed_rooms }}
            </span>
            <span class="property-bath" title="Bath rooms">
              <i class="fa fa-bath"></i> {{ property.bath_rooms }}
            </span>
          </div>

          <p class="property-id">#{{ property.id }}</p>
        </div>
      </main>
    </article>
  </div>
  <div
    *elseif="!this.loading"
    class="no-response d-flex justify-content-center align-items-center"
  >
    <p style="font-size: 2rem; color: #0f5b97;">No properties</p>
  </div>
</section>
