<section class="searchbox d-flex flex-column justify-content-center">
  <div class="container">
    <!-- types buttons -->
    <section class="types-panel d-flex justify-content-center flex-wrap">
      <button class="btn-action types-panel-btn mx-3" *for="let type of this.searchForm.typesAvailable"
        (click)="this.searchForm.type = type.value" [class]="{ 'type-active': type.value == this.searchForm.type }"
        data-type="{{ type.value }}" *as="buttonsPanel">
        {{ type.label }}
      </button>
    </section>

    <!-- Search forms -->
    <section class="search-form">
      <ul class="regions list-unstyled d-flex justify-content-center flex-wrap">
        <li class="region-item" *for="let region of this.searchForm.featuredRegions"
          (click)="this.chooseRegion(region)">
          {{ region.name }}
        </li>
      </ul>

      <!-- rent / sale form-->
      <form (submit)="this.getProperties($el)" class="d-flex flex-wrap">
        <!-- <input type="hidden" name="sale_type" [value]="this.searchForm.type"> -->
        <div class="form-group col-md-7 col-xs-12 d-flex">
          <span class="field-icon">
            <label for="regions">
              <i class="fas fa-map-marker-alt"></i>
            </label>
          </span>
          <!-- <form-input type="text" id="regions" list="regionsList" placeholder="Search for locations" name="regions"
            class="form-control" title="Search for a region" (change)="this.chooseRegion($el.value)"></form-input>
          <datalist id="regionsList">
            <option *for="let region of this.regionsList" value="{{ region.name }}">
            </option>
          </datalist> -->
          <flk-dropdown-list 
            [items]="this.regionsList" 
            [searchable]="false" 
            id="regions" 
            title="Search for a region"
            (change)="this.chooseRegion($el.value)" 
            placeholder="Search for region"
            name="regions"
          ></flk-dropdown-list>
        </div>

        <div class="form-group col-md-5 col-xs-12">
          <form-input type="text" placeholder="#ID" name="id" class="form-control" [value]="this.searchForm.id"
            title="ID of the property"></form-input>
        </div>

        <div class="form-group col-md-3 col-xs-12 d-flex">
          <span class="field-icon">
            <label for="type">
              <i class="fas fa-home"></i>
            </label>
          </span>
          <!-- <form-input type="text" id="type" list="typesList" placeholder="Type" name="type" class="form-control"
            title="type">
          </form-input>
          <datalist id="typesList">
            <option *for="let type of this.searchForm.propertyTypes" value="{{ type.name }}">
            </option>
          </datalist> -->
          <flk-dropdown-list 
            [items]="this.searchForm.propertyTypes" 
            [searchable]="false"
            id="type"
            placeholder="Type"
            title="Type of the property"  
          ></flk-dropdown-list>
        </div>

        <div class="form-group col-md-3 col-xs-12 d-flex">
          <span class="field-icon">
            <label for="minBed">
              <i class="fas fa-bed"></i>
            </label>
          </span>
          <!-- <form-input id="minBed" type="text" list="minBeds" placeholder="Min Beds" name="min_beds" class="form-control"
            title="Minimum Number of beds"></form-input>
          <datalist id="minBeds">
            <option *for="let i = 0; i <= 10; i++" value="{{ i }}"> </option>
          </datalist> -->
          <flk-dropdown-list 
            [items]="this.numbersArray" 
            [searchable]="false" 
            id="minBed" 
            name="min_beds"
            placeholder="Min Beds" 
            title="Minimum Number of beds"
          ></flk-dropdown-list>
        </div>

        <div class="form-group col-md-3 col-xs-12 d-flex">
          <span class="field-icon">
            <label for="maxBed">
              <i class="fas fa-bed"></i>
            </label>
          </span>
          <!-- <form-input type="text" id="maxBed" list="maxBeds" name="max_beds" placeholder="Max Beds" class="form-control"
            title="Maximum number of beds"></form-input>
          <datalist id="maxBeds">
            <option *for="let i = 0; i <= 10; i++" value="{{ i }}"> </option>
          </datalist> -->
          <flk-dropdown-list [items]="this.numbersArray" [searchable]="false" id="maxBed" name="max_beds"
            placeholder="Max Beds" title="Maximum Number of beds"></flk-dropdown-list>
        </div>

        <div class="form-group col-md-3 col-xs-12">
          <flk-dropdown-list name="currency" placeholder="Currency" [value]="this.searchForm.currency"
            [items]="this.currencies" [searchable]="false"></flk-dropdown-list>
          <!-- <form-input icon="map-marker-alt" type="text" list="currencies" placeholder="{{ this.cache.get('currency') }}"
            name="currency" class="form-control" title="Currencies available"></form-input>
          <datalist id="currencies">
            <option *for="let currency of this.searchForm.currencies" value="{{ currency.code }}">
            </option>
          </datalist> -->
        </div>

        <div class="form-group col-md-3 col-xs-12">
          <form-input type="number" placeholder="Min price" name="min_price" class="form-control" title="Minimum price">
          </form-input>
        </div>

        <div class="form-group col-md-3 col-xs-12">
          <form-input type="number" placeholder="Max price" name="max_price" class="form-control" title="Maximum price">
          </form-input>
        </div>

        <div *if="! Is.empty(this.searchForm.chosenRegions)" class="form-group col-12">
          <ul class="list-unstyled d-flex chosen-regions">
            <li class="chosen-region-item" *for="let region, index of this.searchForm.chosenRegions">
              <span [html]="region.name"></span>
              <fa icon="times" (click)="this.removeChosenRegion(index)"></fa>
              <input type="hidden" name="regions[]" [value]="region.id" />
            </li>
          </ul>
        </div>

        <div class="form-group col-12 text-right form-actions">
          <input type="reset" class="modal-btn btn-action mr-auto" (click)="this.searchForm.chosenRegions = []" />
          <input type="submit" value="Search" class="modal-btn btn-action mr-auto" />
        </div>
      </form>
    </section>
  </div>
</section>