$search-inputs-font-size: 1.2rem;

.searchbox {
  background: #fff url("../images/ourwork8.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 1rem;
  // overflow: hidden;

  .input-wrapper {
    // margin-top: 0.55rem;
  }

  .compound-wrapper.smaller {
    .heading {      
      font-size: 0.65rem !important;
    }
  }

  .types-panel {
    margin-bottom: 1.5rem;

    .types-panel-btn {
      padding: 0.2rem 1.5rem;
      font-size: $search-inputs-font-size;
      background-color: $mainColor;
      color: #fff;
      font-weight: 100;
      position: relative;
      margin-bottom: 0.5rem;
      transition: all 0.3s ease-in-out;

      &.type-active,
      &:hover {
        background-color: #fff;
        color: $mainColor;
        border: 1px solid #fff;
      }

      &.type-active {
        outline: 0;

        @media (min-width: 991px) {
          &::after {
            content: "";
            position: absolute;
            top: 25px;
            left: 32px;
            border: 20px solid transparent;
            border-bottom-color: rgba($color: #fff, $alpha: 0.9);
            outline: 0;
            cursor: auto;
          }
        }
      }
    }
  }

  .dropdown-list {
    .items-list {
      margin-top: 0.1rem;
    }
    .list-item {
      label {
        padding: 0.3rem 0.7rem !important;
      }
    }
    .heading, .icon {
      font-size: $search-inputs-font-size;
    }

    .icon {
      border-right: 0;
    }

    .heading {
      box-shadow: none;
      // height: 35px;
      padding: 0 1rem !important;
      &:after { 
        top: 100%;
      }
    }

  }

  .type-wrapper {
    &.smaller {
      .heading span {
        font-size: 1rem;
      }
    }
  }

  .search-form {
    background-color: rgba($color: #fff, $alpha: 0.9);
    width: 90%;
    padding: 0.5rem 2rem;
    margin: auto;

    @include responsive((1024: (width: 100%,
          padding-left: 0,
          padding-right: 0,
        )), max);

    .regions {
      .region-item {
        margin: 0.6rem;
        color: rgba($color: $mainColor, $alpha: 0.8);
        font-weight: bold;

        &:hover,
        &:active {
          color: $mainColor;
          cursor: pointer;
        }
      }
    }

    .form-group {
      margin-top: 0.5rem;
      // input.form-control {
      //   padding-top: 1.8rem;
      // }
      .form-control {
        display: inline-block;
        padding: 0 1rem;
        // height: 35px;
        font-size: $search-inputs-font-size;
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid $mainColor;
        border-radius: 0;
        color: $mainColor;

        &::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $mainColor;
          font-weight: bold;
          font-size: $search-inputs-font-size;
          display: inline-block;
          opacity: 1;
          /* Firefox */
        }

        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: $mainColor;
          font-weight: bold;
          font-size: $search-inputs-font-size;
        }

        &::-ms-input-placeholder {
          /* Microsoft Edge */
          color: $mainColor;
          font-weight: bold;
          font-size: $search-inputs-font-size;
        }
      }

      input {
        // margin-top: 0.38rem;
      }

      &.form-actions {
        margin-bottom: 0;

        input {
          background-color: transparent;
          margin:  0 1rem;
          padding: 0.4rem 1.5rem;
          font-size: 1.2rem;
        }
      }

      .chosen-regions {
        margin-top: 10px;
        margin-bottom: 0;

        .chosen-region-item {
          margin: 0.5rem;
          padding: 0.5rem;
          background-color: $mainColor;
          color: #fff;
          border-radius: 3px;
          font-size: 1rem;

          .fa-times {
            margin-left: 6px;
            cursor: pointer;
            color: rgba($color: #fff, $alpha: 0.7);

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}