<section class="searchbox d-flex flex-column justify-content-center">
  <div class="container search-container">
    <!-- types buttons -->
    <section class="types-panel d-flex justify-content-sm-center flex-wrap">
      <button class="btn-action types-panel-btn mx-3" *for="let type of this.searchForm.typesAvailable"
        (click)="this.updateSaleType(type.value)" [class]="{ 'type-active': type.value == this.searchForm.sale_type }"
        data-type="{{ type.value }}" *as="buttonsPanel">
        {{ type.label }}
      </button>
    </section>

    <!-- Search forms -->
    <section class="search-form">
      <ul class="regions list-unstyled d-sm-flex d-none justify-content-center flex-wrap">
        <li class="region-item" *for="let region of this.featuredRegions" (click)="this.chooseRegion(region)">
          {{ region.name }}
        </li>
      </ul>

      <!-- rent / sale form-->
      <form (submit)="this.getProperties($el)" class="d-flex flex-wrap">
        <div class="form-group col-sm-6 col-12 d-flex">
          <flk-dropdown-list icon="map-marker-alt" [items]="this.regionsList" [value]="this.searchForm.region"
            id="regions" [none]="true" title="Select Property Location" (select)="this.chooseRegion(e.value);"
            placeholder="{{ this.regionsPlaceholder }}"></flk-dropdown-list>
        </div>

        <div *if="! Is.empty(this.compoundList)" class="form-group col-sm-6 col-12 d-flex compound-wrapper"
          class="much-smaller">
          <flk-dropdown-list *if="this.compounds" icon="city" [items]="this.compoundList"
            [value]="this.searchForm.compound" id="compound" title="Select a Compound"
            (select)="this.chooseCompound(e.value); this.smallerCompound = e.text.includes(' '); this.muchSmallerCompound = e.text.repeatsOf(' ') >= 2;"
            [none]="true" placeholder="Compound" title="Select Compound"></flk-dropdown-list>
        </div>

        <div class="form-group col-sm-3 col-12 d-flex type-wrapper" [class]="{smaller: this.smallerType}">
          <flk-dropdown-list *if="this.propertyTypes" icon="home" [items]="this.propertyTypes"
            [value]="this.searchForm.type" name="type" [searchable]="false" id="type"
            (select)="this.searchForm.type = e.value; this.smallerType = e.text.includes(' ')" [none]="true"
            placeholder="Type" title="Property Type"></flk-dropdown-list>
        </div>

        <div class="form-group col-md-3 col-6 input-wrapper">
          <form-input type="text" tooltip placeholder="#ID" name="id" class="form-control" [value]="this.searchForm.id"
            title="Property ID"></form-input>
        </div>

        <if condition="this.searchForm.sale_type == 'commercial' || this.searchForm.sale_type == 'new-homes'">
          <div class="form-group col-md-3 col-6 d-flex" [class]="{'smaller' : this.smallerMinArea}">
            <flk-dropdown-list (select)="this.searchForm.min_area = e.value; this.smallerMinArea = e.text.includes(' ')" [items]="this.setAreas()" id="minArea" [value]="this.searchForm.min_area"
              name="min_area" placeholder="Min Area" title="Minimum Area">
            </flk-dropdown-list>
          </div>

          <div class="form-group col-md-3 col-6 d-flex" [class]="{'smaller' : this.smallerMaxArea}">
            <flk-dropdown-list (select)="this.searchForm.max_area = e.value; this.smallerMaxArea = e.text.includes(' ')"  [items]="this.setAreas()" id="maxArea" [value]="this.searchForm.max_area"
              name="max_area" placeholder="Max Area" title="Maximum Area">
            </flk-dropdown-list>
          </div>
        </if>

        <else>
          <div class="form-group col-md-3 col-6 d-flex">
            <flk-dropdown-list icon="bed" [items]="this.numbersArray" [searchable]="false" id="minBed" [none]="true"
              [value]="this.searchForm.min_beds" name="min_beds" placeholder="Min Beds" title="Minimum Number of beds">
            </flk-dropdown-list>
          </div>

          <div class="form-group col-md-3 col-6 d-flex">
            <flk-dropdown-list icon="bed" [value]="this.searchForm.max_beds" [none]="true" [items]="this.numbersArray"
              [searchable]="false" id="maxBed" name="max_beds" placeholder="Max Beds" title="Maximum Number of beds">
            </flk-dropdown-list>
          </div>
        </else>


        <!-- <div class="form-group col-md-3 col-xs-12 d-flex">
          <flk-dropdown-list 
            icon="warehouse"
            [items]="this.areaSizes" 
            id="minArea" 
            [none]="true"
            [value]="this.searchForm.min_area"
            name="min_area"
            placeholder="Min Area" 
            title="Minimum Number of Area Size"
          ></flk-dropdown-list>
        </div>

        <div class="form-group col-md-3 col-xs-12 d-flex">
          <flk-dropdown-list 
            icon="warehouse" 
            [value]="this.searchForm.max_area" 
            [none]="true" 
            [items]="this.areaSizes" 
            id="maxArea" 
            name="max_area"
            placeholder="Max Area"
             title="Maximum Number of area"></flk-dropdown-list>
        </div> -->

        <div class="form-group col-md-3 col-6 input-wrapper">
          <flk-dropdown-list name="min_price" [none]="true" (select)="window.minPrice = e.value" placeholder="Min price" [value]="window.minPrice"
            [items]="this.setPrices()" [searchable]="true"></flk-dropdown-list>
        </div>

        <div class="form-group col-md-3 col-6 input-wrapper">
          <flk-dropdown-list name="max_price" [none]="true" (select)="window.maxPrice = e.value" placeholder="Max price" [value]="window.maxPrice"
            [items]="this.setPrices()" [searchable]="true"></flk-dropdown-list>
        </div>

        <div class="form-group col-md-3 col-6">
          <flk-dropdown-list name="currency" icon="money-bill-wave"
            (select)="this.settingsService.updateCurrency(e.value); this.detectChanges()" placeholder="Currency"
            [value]="window.currentCurrency.code == 'Default' ? 'EGP' : window.currentCurrency.code"
            [items]="this.currencies" [searchable]="false"></flk-dropdown-list>
        </div>

        <div *if="! Is.empty(this.searchForm.chosenRegions)" class="form-group col-12">
          <ul class="list-unstyled row chosen-regions">
            <li *for="let region, index of this.searchForm.chosenRegions" class="chosen-region-item">
              <span [html]="region.name"></span>
              <fa icon="times" (click)="this.removeChosenRegion(index)"></fa>
              <input type="hidden" name="regions[]" [value]="region.id" />
            </li>
          </ul>
        </div>

        <div *if="! Is.empty(this.searchForm.chosenCompounds)" class="form-group col-12">
          <ul class="list-unstyled row chosen-regions">
            <li *for="let compound, index of this.searchForm.chosenCompounds" class="chosen-region-item">
              <span [html]="compound.name"></span>
              <fa icon="times" (click)="this.removeChosenCompound(index)"></fa>
              <input type="hidden" name="compounds[]" [value]="compound.id" />
            </li>
          </ul>
        </div>

        <div class="form-group col-12 text-right form-actions">
          <input type="reset" class="modal-btn btn-action mr-auto" (click)="this.resetSearch()" />
          <input type="submit" value="Search" class="modal-btn btn-action active mr-auto" />
        </div>
      </form>
    </section>
  </div>
</section>